:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
/* General */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
}
main {
  background-color: var(--light-gray);
  height: 100vh;
}
/* The Card */
main .card {
  background-color: var(--white);
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 20px 2px #aaa;
  -moz-box-shadow: 0px 2px 20px 2px #aaa;
  -o-box-shadow: 0px 2px 20px 2px #aaa;
  box-shadow: 0px 2px 20px 2px #aaa;
  transition: transform 0.5s;
}
main .card:hover {
  transform: translate(-50%, -50%) scale(1.03);
}
/* QR Code Image */
.card figure {
  width: 278px;
  height: 278px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
  user-select: none;
}
.card figure img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
/* Info */
.card .info {
  text-align: center;
}
.card .info h1 {
  font-size: 22px;
  color: var(--dark-blue);
  margin-bottom: 25px;
}
.card .info p {
  font-size: 15px;
  color: var(--grayish-blue);
  line-height: 1.5;
  margin-bottom: 25px;
}
